.parent {
    background-color: red;
    width: 400px;
    padding: 10px;
}

.childH {
    background-color: white;
    color: red;
    height: 1000px;
}

.childP{
    position: inherit;
    top: 0px;
    background-color: blue;
}