.divStyle {
    background-color: red;
    color: white;
    width: 500px;
    height: 200px;
}

.divStyle1 {
    background-color: red;
    color: white;
}

.spanStyle {
    background-color: red;
    color: white;
    height: 100px;
    width: 100px;
    display: inline-block;
}


.parent{
    width: 500px;
}